{%extends "cv/base.html"%}
{% load static %}
{% block css %}

{%endblock%}
{%block content%}
<div class="container">
    <div class="row" id="scene">
        <div class="col-8" data-depth="0.2">

            <h1>{{category.label}}</h1>

            {% for experience in category.experience_set.all %}
            <div class="plop">
            <div class="card">
                <div class="card-body">
                        <img class="img" src={{experience.cover.url}} alt="image">
                        <h2> {{experience.title}} </h2>
                        <p class="presentation">Du {{experience.start_the | date:"SHORT_DATE_FORMAT"}} au {{experience.end_the | date:"SHORT_DATE_FORMAT"}}</p>
                    <p class="card-text">{{experience.short_desc}}</p>
                    <a href={% url 'experience' experience.slug %} class="btn btn-primary" role="button">Lire</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>


    {%endblock%}