body {
    background-color: rgb(20, 5, 5);
    color: rgb(204, 191, 191);


    header {
        a {
            text-decoration: none;
            color: rgb(204, 191, 191);
        }

        a:hover {
            text-decoration: none;
            color: rgb(204, 191, 191);
        }

        .navbar {
            background-color: black;

            ul {
                li {
                    display: inline-block;
                }
            }
        }
    }

    main {
        .container {
            .row {
                div {
                    h1{
                        text-align: center;
                    }
                    .main {
                        margin: 2rem;
                        height: 20rem;

                        .xp {
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);

                            .presentation {
                                grid-row: 2;
                                grid-column: 1/4;
                                width: 70%;
                            }

                            h2 {
                                // grid-area: h;
                                grid-row: 1;
                                grid-column: 1/5;
                                margin-left: 2rem;
                                height: 1em;

                            }

                            .img {
                                grid-row: 1;
                                grid-column: 1/2;
                                max-width: 2rem;
                                max-height: 2rem;
                            }


                            .card-text {
                                grid-row: 3;
                                grid-column: 1/5;
                            }

                            .btn {
                                grid-row: 4;
                                grid-column: 5;
                                background-color: #d35400;
                                border-color: rgb(204, 191, 191);
                                vertical-align: center;
                            }
                        }
                    }
                }

            }
        }
    }

    footer {

        width: 100%;
        background-color: black;

        ul {
            display: flex;
            color: rgb(204, 191, 191);
            justify-content: space-around;

            li {
                display: inline-block;
            }
        }
    }
}